<ul>
  <li>
    <img src="images/remove.png" alt="Remove company" (click)="deleteCompanyHandler(company)" id="btndelete"/>
    <div class="company">
     <h1> {{ company.name }}</h1>
      
     <img src="images/plus.png" alt="Add company" (click)="openAddEmployeeForm(company)" id="btnAddEmployee" style="margin-right:10px;"/>
      <img src="images/pen.png" alt="Edit company" (click)="openEditCompanyForm(company)" id="btnAddEmployee"/>
    </div>

    <ul>
      <app-employeecard
        *ngFor="let employee of company.employees"
        [employee]="employee"
        [company]="company"
        (deleteEmployee)="deleteEmployeeHandler(employee.id)"
      ></app-employeecard>
    </ul>
  </li>
</ul>

<app-employeeform
  *ngIf="showEmployeeForm"
  [company]="company" 
  (closed)="showEmployeeForm = false"
></app-employeeform>

<app-companyform
  *ngIf="showCompanyForm"
  [company]="selectedCompany"
  (closed)="showCompanyForm = false"
></app-companyform>
