<div class="formov">
  <div class="frm">
    <h1 class="title">{{cmd == 'edit' ? "Edit Employee" : "Add an employee"}}</h1>
    <BR />
    <form (ngSubmit)="onSubmit()" [formGroup]="employeeForm">
      <div class="form-group">
        <!-- firstname,lastname, role, address array, employees array-->
        <small>First name</small><BR />
        <input
          type="text"
          id="first_name"
          name="first_name"
          formControlName="first_name"
          placeholder="type employee first name"
          required
        />
        <div
          *ngIf="
            employeeForm.get('first_name').invalid &&
            employeeForm.get('first_name').touched
          "
        >
          <small class="error">First name is required.</small>
        </div>

        <BR />

        <small>last name</small><BR />
        <input
          type="text"
          id="last_name"
          name="last_name"
          formControlName="last_name"
          placeholder="type employee last name"
          required
        />
        <div
          *ngIf="
            employeeForm.get('last_name').invalid &&
            employeeForm.get('last_name').touched
          "
        >
          <small class="error">Last name is required.</small>
        </div>
        <BR />

        <small>Role</small><BR />
        <input
          type="text"
          id="role"
          name="role"
          formControlName="role"
          placeholder="type employee role"
          required
        />
        <div
          *ngIf="
            employeeForm.get('role').invalid && employeeForm.get('role').touched
          "
        >
          <small class="error">Role is required.</small>
        </div>

        <!--address-->
        <div formGroupName="address">
          <small>Street</small>
          <BR />
          <input type="text" formControlName="street" />
          <BR />
          <label>Street 2</label>
          <BR />
          <input type="text" formControlName="street_2" />
          <BR />
          <label>City</label>
          <BR />
          <input type="text" formControlName="city" />
          <BR />
          <label>Country</label>
          <BR />
          <select formControlName="country">
            <option value="">Select country</option>
            <option value="NZ">New Zealand</option>
            <option value="AU">Australia</option>
            <option value="UK">United Kingdom</option>
          </select>
        </div>
        <div
          *ngIf="
            employeeForm.get('address.country').invalid &&
            employeeForm.get('address.country').touched
          "
        >
          <small class="error">Country is required (NZ, AU, or UK).</small>
        </div>
      </div>

      <button type="submit" [disabled]="!employeeForm.valid" class="btn">
        Submit
      </button>
      <button type="button" class="btn btncancel" (click)="onClose()">
        Cancel
      </button>
    </form>
  </div>
</div>
