.treewrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
}
.title {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 20px;
  color:  white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
   overflow: hidden;
}

.sideform {
  background-color: #17153B;
  color: white;
  padding: 10px;
  height: 100vh;
  width: 200px; 
  flex-shrink: 0; 
}


.mainform {
   flex: 1;
  min-width: 0; 
  overflow: auto;
}


.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.3s;
    border-radius: 28px;
  }

  .slider::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.3s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: #433D8B;
  }

  input:checked + .slider::before {
    transform: translateX(22px);
  }