<div class="wrapper">
  <div class="container">
    <h1 class="title">Welcome to {{ title }}!</h1>

    <div class="links">
      <a routerLink="/companyform" class="btn" (click)="openCompanyForm()">
        Add a company</a
      >
    </div>

    <app-companyform
      *ngIf="showCompanyForm"
      (closed)="showCompanyForm = false"
    ></app-companyform>

    <div class="treewrapper" *ngFor="let company of companies">
      <div class="tree">
        <app-companycard
          [company]="company"
          (deleteCompany)="onDeleteCompany(company.id)"
        >
        </app-companycard>
      </div>
    </div>
  </div>
</div>
